@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font: 16px / 1.6 'Montserrat', sans-serif;
  background: #232323;
  color: #fff;
}

:root {
  --mongo-green: #13aa52;
  --mongo-green-rgb: 19, 170, 82;
  --error: #d32f2f;
  --error-rgb: 211, 47, 47;

  --md-break: 1120px;
  --mobile-break: 720px;
}

.mid {
  width: var(--md-break);
  margin: 0 auto;
}

.page {
  margin: 3em auto;
}

.content {
  margin: 1.5em 0;
}

a {
  color: var(--mongo-green);
  text-decoration: none;
  border-bottom: 1px solid var(--mongo-green);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.title-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-with-button a {
  display: inline-block;
  background: var(--mongo-green);
  color: #fff;
  padding: .4rem 1.2rem;
  border-radius: 3px;
  transition: background 100ms linear;
}

.input-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: .4rem;
}

input, button, .button {
  font: 16px / 1.6 'Montserrat', sans-serif;
  outline: none;
  padding: .6rem 1.5rem;
  box-sizing: border-box;
  border-radius: 4px;
}

input {
  display: block;
  width: 100%;
  border: 1px solid #111;
  background: #111;
  color: #fff;
  transition: border 100ms linear;
}

input:focus {
  border: 1px solid var(--mongo-green);
}

button, .button {
  display: inline-block;
  border: 0;
  background: var(--mongo-green);
  color: #fff;
  transition: background 100ms linear;
  cursor: pointer;
}

button:hover, .button:hover, .title-with-button a:hover {
  background: rgba(var(--mongo-green-rgb), .8);
}

.red-button {
  background: var(--error);
}

.red-button:hover {
  background: rgba(var(--error-rgb), .8);
}

.error-container {
  background: #d32f2f;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.generic-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 1em;
  background: #121212;
  border-bottom: 3px solid #333;
}

.generic-list:first-child {
  border-top: 3px solid #333;
}

.generic-list:nth-child(2n) {
  background: #1a1a1a;
}

.generic-list .additional-info {
  color: #656565;
  display: block;
}
